---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
{
    date: '2025 — Actualmente',
    title: 'Desarrollador RPA Sr',
    company: 'Automation Anywhere.',
    link: 'https://www.automationanywhere.com/',
    description: 'Como desarrollador RPA senior, diseño y lidero la implementación de automatizaciones avanzadas para optimizar procesos empresariales críticos. Poseo un profundo conocimiento técnico de plataformas RPA, habilidades para integrar sistemas diversos y experiencia en la gestión de equipos y proyectos de automatización. Mi objetivo principal es mejorar la eficiencia operativa, garantizado soluciones escalables, seguras y sostenibles.',    
  },
  {
    date: '2024',
    title: 'Desarrollador RPA y analista de proyectos',
    company: 'Marval.',
    description: 'Scrapping con herramientas de automatización Selenium. Manejo de herramientas de datos con Pandas, Numpy y APIs. Rocketbot y Power Apps.',    
  },
  {
    date: '2023',
    title: 'Soporte SAP y analista de proyectos Jr.',
    company: 'Marval.',
    description: 'Manejo de Addons, SQL Server y módulos de sap a nivel administrador. Asesoría en plataformas tecnológicas y análisis de proyectos.',
  },
  {
    date: "2020",
    title: "Desarrollador Full Stack",
    company: "Elun.",
    description: "Desarrollador trainee con tecnologías y herramientas como Tailwind, Fastapi, Django, SQL, Flask, Github, Scrum.",
  },
  {
    date: '2019',
    title: 'Tutor Par Paedis',
    company: 'DuocUC.',
    description: 'Tutor de acompañamiento académico y psicopedagógico para estudiantes con necesidades educativas especiales.',
  },
  {
    date: '2019',
    title: 'Práctica profesional',
    company: 'Biobusiness.',
    description: 'Desarrollador web Django Framework y documentador.',
  },
];
---


<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>